
body {
  padding: 20px;
  margin: 20px;
}
p {

  font-family: "Hack Nerd Font";
}
h1 {
  font-size:24px;
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  color: rgb(1,1,1);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  text-align: center;
}
span {
  color:blue;
  font-size:12px;
}

.black {
  color: rgb(10,10,10);
  margin: 10px;
  font-family: "Hack Nerd Font";
  padding: 10px;
}
.div_ {
  margin: 20px;
  padding: 20px;
}

li:has(a) {
  display: flex;
}
.product-list {
  /* display: flex-end; */
}
.product {
  justify-content: flex-end;
  /* display: block; */
  height 40px;
  background-color : rgb(30,50,150);
  margin: 24px 16px;
  padding: 20px;
  border: 3.618px solid;
}
